.app__entry {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  flex-direction: column;
}

.CalcPageTable{
display: flex;

}

.CalcPageTable{
display: flex;
border: dashed green;
display:flex;
flex-direction: column;
}

.favoritesHolder{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  flex-direction: column;
}